h1 {
    font-family: Avenir;
    color: 1B676B;
    padding-top: 6px;
}
h7 {
    font-family: Avenir;
    color: dimgrey;
}
body {
    background-color: white;
    font-family: Avenir;
}

.found {
    background-color: EAFDE6;
    font-family: Avenir;
}

#textsearch {
    color: black;
    font-family: Avenir;
    width:100%;
    text-align: center;
}
#top {
   text-align: center;
    height: 100;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white ;
    padding-bottom: 0px;
    padding-top: 16px;
}

#searchSubmit {
    text-align: center;
    background-color: CDCFB7;
    border-radius: 4px;
    border: none;
    font-family: Avenir;
    font-weight: 500;
    font-size: 12;
}
#submit {
    text-align: center;
    background-color: CDCFB7;
    border-radius: 4px;
    border: none;
    font-family: Avenir;
    font-weight: 500;
    font-size: 12;
}

#incoming {
    width: 600px;
    height: 150px;
    text-align: center;
    background-color: EAFDE6;
    border-radius: 4px;
    font-family: Avenir;
    border: none;
}




#scroller {
    margin-top: 100px;
    margin-bottom: 100px;
    /*overflow:scroll; Creates scrollers unnecessarily */
    width: 100%;
    text-align: center;
    font-family: Avenir;
}
#count {
    text-align: center;
    font-family: Avenir;
    width: 100%;
    height: 80px;
    bottom: 100px;
    position:relative;
    color: white;
}
#footer {
    padding-top: 35px;
    height: 65px;
    width: 100%;
    background-color: white;
    left: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
    font-family: Avenir;
    color: 1B676B;
}
#speedRead {
    color: black;
    font-size: 26px;
    font-family: Avenir;
}
#pattern {
    border-radius: 4px;
    border-color: CDCFB7;
    font-family: Avenir;
    text-align: center;
}
#searchResult {
    color: black;
    font-size: 12px;
    font-family: Avenir;
}
#user {
    font-family: Avenir;
    font-size: 12;
    position: absolute;
    right: 8px;
    top: 6px;
    color: 519548;
}
pre {
    font-family: Avenir;
    font-size: 13;
}
#side-right {
    position: absolute;
    width: 340px;
    height: 100%;
    top: 300px;
    padding-top: 30px;
}